# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directory
.env
.env/
myenv/

# Ignore audio files
*.mp3
*.wav

# Ignore subtitle files
*.srt

# Ignore video files
*.mp4
*.mov
*.avi

# Ignore output files
/output/

# Ignore all configuration files for TTS and Whisper models
*.config
*.json

